<div class="container">
<!-- Title section -->
<div class="title">Sign up</div>
<div class="content">
    <!-- Registration form -->
    <form action="/submit" method="POST">
    <div class="user-details">
        <!-- Input for Full Name -->
        <div class="input-box">
        <span class="details">First Name</span>
        <input type="text" name="first_name" placeholder="Enter your name" required>
        </div>
        <!-- Input for Username -->
        <div class="input-box">
        <span class="details">Last Name</span>
        <input type="text" name="last_name" placeholder="Enter your lastname" required>
        </div>
        <!-- Input for Email -->
        <div class="input-box">
        <span class="details">Email</span>
        <input type="email" name="email" placeholder="Enter your email" required>
        </div>
        <!-- Input for Phone Number -->
        <div class="input-box">
        <span class="details">Phone Number</span>
        <input type="number" name="phone_number" placeholder="Enter your number" required>
        </div>
        <!-- Input for Password -->
        <div class="input-box">
        <span class="details">Password</span>
        <input type="password" name="password" placeholder="Enter your password" required>
        </div>
        <!-- Input for Confirm Password -->
        <div class="input-box">
        <span class="details">Confirm Password</span>
        <input type="password" name="" placeholder="Confirm your password" required>
        </div>
    </div>
    <!-- Submit button -->
    <div class="button">
        <input type="submit" value="Signup">
    </div>
    </form>
</div>
</div>


